<div id="footer">        
    <!--Estamos en el {$title}-->
    
    {if $idRole neq 3 }{$language->translate('user')}:  <a href="{$url}/{$lang}/login/perfil" >{$user}</a>{/if}
    
    {if $idRole neq 3 }<a href="{$url}/{$lang}/login/disconnect" >{$language->translate('disconnect')}</a>{/if}
</div>
</body>
</html>
